*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./1920x1080-Luffy-Minimalista-Fondo-de-pantalla-de-One-Piece-1024x576.jpg); 
    width: 100%;
    height: 100vh;
    background-color:aqua;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 100% 100%;
    
}
nav{
    display: flex;
    justify-content: end;
    padding: 1rem;
}
nav button{
    border: none;
    color: white;
    font-size: .8rem;
    padding: 0 10px;
    background-color: transparent;
    cursor: pointer;
}
.sesion{
    background-color: rgb(122, 11, 11);
    padding: 10px 1rem;
    border-radius: 1rem;

}
.sesion:hover{
    background-color: rgb(160, 30, 30);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77vh;
    color: white;
    font-size: .9rem;
}
a{
    color: rgb(184, 192, 190) ;
}
figure{
    
    margin-top: 1rem;
    width: 20%;
    height: 20vh;
}

img{
    width: 100%;
    height: 100%;
}
input{
    width: 40%;
    height: 2.5rem;
    border-radius: 1rem;
}

.opciones button{
    margin-right: 1rem;
    background-color: transparent;
    border: none;
    color:white;
    margin: 1rem 2rem;
    font-size: .9rem;
    padding: .5rem;
    border: 1px solid transparent;


    cursor: pointer;
}
.opciones button:hover{
    border: 1px solid;
    border-color: white;
}
footer{
    color: white;
    margin: 0 1rem;
    font-size: 1rem;

}
p{

    margin-bottom: 10px;
}
.options_footer{
    border-top:1px solid rgba(102, 100, 100, 0.281);
    display: flex;
    justify-content:space-between;
}
.options_footer button{
    background-color: transparent;
    margin-right: 1rem;
    color: white;
    border: none;
    margin-top: 1rem;
}